<!DOCTYPE html>
<html ng-app="ngTool" ng-csp>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./public/css/style.css">
        <link rel="stylesheet" href="./public/js/ng-tags-input/ng-tags-input.css">
        <link rel="stylesheet" href="./public/js/ng-tags-input/ng-tags-input.bootstrap.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    </head>
    <body ng-controller="toolCtrl">

        <header class="container" ng-show="fbLogined">
            <h3>朋友分類器</h3>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <img src="./public/img/Slice 1.png" style="width:60px">
              </div> 
            </div>
            <form action="popup_submit" method="get" accept-charset="utf-8">

            </form>
        </header>
        <!-- <div ng-show="bookmark">
            <button class="btn-bookmark">匯入您的書籤</button>
            {{pocket}}
        </div> -->
        <!-- <div ng-show="form">
            <form id="submit-form" ng-click="$event.stopPropagation();" ng-submit="submitInfo(info, tags)" >
                <div class="img-wrapper" style="background: url({{image}});background-size: cover;">
                  <div class="img" ng-hide="image">
                    <i class="fa fa-image fa-5x"></i>
                  </div>
                </div>

                <ul class="ul-list">
                  <li class="list">
                    <label for="link">網址連結</label>
                    <input class="submit-input" type="text" ng-model="info.link" name="link">
                  </li>
                  <li class="list">
                    <label ng-show="info.title" for="title">標題</label>
                    <input class="submit-input" ng-show="info.title" type="text" name="title" ng-model="info.title">
                  </li>
                  <li class="list">
                    <label ng-show="info.description" for="description">描述</label>
                    <input class="submit-input" ng-show="info.description" type="text" name="description" ng-model="info.description">
                  </li>
                  <li class="list" ng-show="tags">
                    <label for="tag">標籤</label>
                    <tags-input ng-model="tags" min-length="2"></tags-input>
                  </li>
                  <li class="list">
                    <input ng-disabled="!info" type="submit" value="送出">
                  </li>
                </ul>
              </form>
        </div> -->
        <div ng-hide="fbLogined" id="fb-root">
            
            <a target="_blank" href="https://www.facebook.com/dialog/oauth?client_id=421496681325151&response_type=token&scope=email,user_friends&redirect_uri=http://www.facebook.com/connect/login_success.html&scope=publish_actions&response_type=token"><i class="fa fa-facebook-square fa-4x"></i></a>
        </div>
        
        <script type="text/javascript" src="./public/js/lib/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="./public/js/lib/angular.min.js"></script>
        <!-- // <script type="text/javascript" src="js/ng-tags-input/ng-tags-input.js"></script> -->
        
        <script type="text/javascript" src="./public/js/app/app.js"></script>
        <script type="text/javascript" src="./public/js/app/background.js"></script>
        <script type="text/javascript" src="./public/js/app/popup.js"></script>
    </body>
</html>